@keyframes ballLeftOneMobileMove {
    0% {
        transform: translate(-153%)
    }

    33% {
        transform: translate(calc(-153% - 5px), 5px)
    }

    66% {
        transform: translate(calc(-153% - 5px), 5px)
    }

    to {
        transform: translate(-153%)
    }
}

@keyframes ballLeftTwoMobileMove {
    0% {
        transform: translate(-61%)
    }

    33% {
        transform: translate(calc(-61% - 10px), 10px)
    }

    66% {
        transform: translate(calc(-61% - 10px), 10px)
    }

    to {
        transform: translate(-61%)
    }
}

@keyframes ballRightOneMobileMove {
    0% {
        transform: translate(147%)
    }

    33% {
        transform: translate(147%, -10px)
    }

    66% {
        transform: translate(147%, -10px)
    }

    to {
        transform: translate(147%)
    }
}

@keyframes ballRightTwoMobileMove {
    0% {
        transform: translate(102%)
    }

    33% {
        transform: translate(calc(102% + 10px))
    }

    66% {
        transform: translate(calc(102% + 10px))
    }

    to {
        transform: translate(102%)
    }
}

@keyframes ballLeftOneTabletMove {
    0% {
        transform: translate(-195%)
    }

    33% {
        transform: translate(calc(-195% + 10px))
    }

    66% {
        transform: translate(calc(-195% + 10px))
    }

    to {
        transform: translate(-195%)
    }
}

@keyframes ballLeftTwoTabletMove {
    0% {
        transform: translate(-37%)
    }

    33% {
        transform: translate(calc(-37% - 25px), 25px)
    }

    66% {
        transform: translate(calc(-37% - 25px), 25px)
    }

    to {
        transform: translate(-37%)
    }
}

@keyframes ballLeftThreeTabletMove {
    0% {
        transform: translate(-272%)
    }

    33% {
        transform: translate(calc(-272% - 7px), 2px)
    }

    66% {
        transform: translate(calc(-272% - 7px), 2px)
    }

    to {
        transform: translate(-272%)
    }
}

@keyframes ballRightOneTabletMove {
    0% {
        transform: translateX(125%) rotate(-13deg)
    }

    33% {
        transform: translate(calc(125% + 20px), -6px) rotate(-13deg)
    }

    66% {
        transform: translate(calc(125% + 20px), -6px) rotate(-13deg)
    }

    to {
        transform: translateX(125%) rotate(-13deg)
    }
}

@keyframes ballRightTwoTabletMove {
    0% {
        transform: translate(198%) rotate(3deg)
    }

    33% {
        transform: translate(calc(198% - 10px), 5px) rotate(3deg)
    }

    66% {
        transform: translate(calc(198% - 10px), 5px) rotate(3deg)
    }

    to {
        transform: translate(198%) rotate(3deg)
    }
}

@keyframes ballRightThreeTabletMove {
    0% {
        transform: translate(188%)
    }

    33% {
        transform: translate(188%, -20px)
    }

    66% {
        transform: translate(188%, -20px)
    }

    to {
        transform: translate(188%)
    }
}

.index--page {
    /* overflow-x: hidden; */
    padding-bottom: 40px
}

.index--page.live-casino-page {
    padding-top: 40px;
}

.index--page .index--container {
    margin: 0 auto;
    max-width: 1280px
}

.index--page .index--container .games-block-wrapper {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative
}

.index--page .index--container .games-block-wrapper .title {
    -webkit-text-fill-color: #3b3b3b;
    align-items: center;
    color: #3b3b3b;
    display: flex;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 14px;
    font-weight: 500;
    justify-content: flex-start;
    margin: 20px 0 10px;
    min-height: 30px;
    padding: 0 10px;
    text-transform: uppercase
}

.index--page .index--container .games-block-wrapper .title__text {
    -webkit-text-fill-color: #3b3b3b;
    color: #3b3b3b;
    margin-right: auto
}

.index--page .index--container .games-block-wrapper .title .see-all {
    -webkit-text-fill-color: #035d03;
    align-items: center;
    border: 2px solid #035d03;
    border-radius: 50px;
    box-sizing: border-box;
    color: #035d03;
    display: flex;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 10px;
    font-weight: 400;
    gap: 8px;
    height: 30px;
    justify-content: center;
    line-height: 27px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase
}

.index--page .index--container .games-block-wrapper .title .see-all:hover {
    -webkit-text-fill-color: #fff;
    background-color: #035d03;
    color: #fff
}

.index--page .index--container .games-block-wrapper .title .see-all:hover:after {
    filter: invert(97%) sepia(50%) saturate(0) hue-rotate(349deg) brightness(111%) contrast(101%)
}

.index--page .index--container .games-block-wrapper .title .see-all:after {
    background-image: url("../assets/svg/arrow-title-left.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 10px;
    transform: rotate(180deg);
    width: 6px
}

@media (min-width:1000px) {
    .index--page .index--container .games-block-wrapper .title .see-all:after {
        height: 18px;
        width: 8px
    }
}

.index--page .index--container .games-block-wrapper .title__slider {
    align-items: center;
    display: none;
    margin-left: 13px;
    position: relative;
    z-index: 1
}

.index--page .index--container .games-block-wrapper .title__slider__left,
.index--page .index--container .games-block-wrapper .title__slider__right {
    border: 2px solid #035d03;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    position: relative;
    width: 40px
}

.index--page .index--container .games-block-wrapper .title__slider__left.disabled,
.index--page .index--container .games-block-wrapper .title__slider__right.disabled {
    opacity: .3;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.index--page .index--container .games-block-wrapper .title__slider__left:before,
.index--page .index--container .games-block-wrapper .title__slider__right:before {
    background-image: url("../assets/svg/arrow-title-left.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 17.5px;
    left: 46%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 11px
}

@media (hover:hover) {

    .index--page .index--container .games-block-wrapper .title__slider__left:hover,
    .index--page .index--container .games-block-wrapper .title__slider__right:hover {
        background-color: #035d03
    }

    .index--page .index--container .games-block-wrapper .title__slider__left:hover:before,
    .index--page .index--container .games-block-wrapper .title__slider__right:hover:before {
        filter: invert(99%) sepia(76%) saturate(16%) hue-rotate(265deg) brightness(200%) contrast(200%)
    }
}

.index--page .index--container .games-block-wrapper .title__slider__left {
    margin-right: 5px
}

.index--page .index--container .games-block-wrapper .title__slider__right {
    transform: rotate(180deg)
}

.index--page .index--container .games-block-wrapper .title__slider--cool-down .title__slider__left,
.index--page .index--container .games-block-wrapper .title__slider--cool-down .title__slider__right {
    pointer-events: none
}

.index--page .index--container .games-block-wrapper .title .image-wrapper {
    align-items: center;
    background-size: contain !important;
    display: flex;
    height: 25px;
    justify-content: center;
    margin-right: 8px;
    width: 25px
}

@media (min-width:1000px) {
    .index--page .index--container .games-block-wrapper .title .image-wrapper {
        height: 40px;
        margin-right: 15px;
        width: 40px
    }
}

.index--page .index--container .games-block-wrapper .title .image-wrapper img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%
}

.index--page .index--container .games-block-wrapper .title--producers .image-wrapper img {
    filter: none
}

.index--page .index--container .games-block-wrapper .title.title--producers .image-wrapper {
    background-color: #232323;
    border-radius: 50%
}

.index--page .index--container .games-block-wrapper .title.title--producers .image-wrapper img {
    height: 15px;
    width: 15px
}

@media (min-width:1000px) {
    .index--page .index--container .games-block-wrapper .title.title--producers .image-wrapper img {
        height: 25px;
        width: 25px
    }
}

@media (min-width:800px) {
    .index--page .index--container .games-block-wrapper .title {
        margin-bottom: 15px;
        padding: 0 20px
    }
}

@media (min-width:1000px) {
    .index--page .index--container .games-block-wrapper .title {
        font-size: 22px;
        line-height: 26px;
        margin: 40px 0 15px
    }

    .index--page .index--container .games-block-wrapper .title .see-all {
        font-size: 14px;
        height: 40px;
        line-height: 36px;
        min-width: 112px;
        padding: 0 5px;
        text-decoration: none
    }

    .index--page .index--container .games-block-wrapper .title__slider {
        display: flex
    }
}

@media (min-width:1300px) {
    .index--page .index--container .games-block-wrapper .title {
        padding: 0
    }
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(4) {
    grid-row: 1/2
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(8) {
    grid-row: 2/3
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(5),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:first-child,
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(5) {
    grid-column: 1
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(6),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(2),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(6) {
    grid-column: 2
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(7),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(3),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(7) {
    grid-column: 3
}

.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.BR-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.MX-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.NL-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.brazino-selection-block .games-block__game:nth-child(8),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(4),
.index--page .index--container .games-block-wrapper.crash-block .games-block__game:nth-child(8) {
    grid-column: 4
}

.index--page .index--container .games-block-wrapper .title {
    margin-top: 30px
}

.index--page .index--container .games-block-wrapper .title--producers .image-wrapper {
    background-color: unset !important;
    border-radius: unset !important
}

.index--page .index--container .games-block-wrapper .title--producers .image-wrapper img {
    height: 100% !important;
    width: 100% !important
}

.index--page .index--container .promo-block__content {
    -ms-overflow-style: none;
    align-items: center;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none
}

.index--page .index--container .promo-block__content::-webkit-scrollbar {
    display: none
}

.index--page .index--container .promo-block__content.content-jackpot {
    overflow: visible
}

.index--page .index--container .banner-block-wrapper .content-overflow-visible .coin {
    display: none
}

.index--page .index--container .banner-block-wrapper .ball-mobile {
    position: absolute
}

.index--page .index--container .banner-block-wrapper .ball-mobile--left-1 {
    animation: ballLeftOneMobileMove 5s ease infinite;
    left: 50%;
    top: 6px;
    transform: translateX(-153%);
    width: 96px
}

.index--page .index--container .banner-block-wrapper .ball-mobile--left-2 {
    animation: ballLeftTwoMobileMove 5s ease infinite;
    height: 323px;
    left: 50%;
    top: -165px;
    transform: translateX(-61%);
    width: 370px
}

.index--page .index--container .banner-block-wrapper .ball-mobile--right-1 {
    animation: ballRightOneMobileMove 5s ease infinite;
    right: 50%;
    top: 0;
    transform: translateX(147%);
    width: 100px
}

.index--page .index--container .banner-block-wrapper .ball-mobile--right-2 {
    animation: ballRightTwoMobileMove 5s ease infinite;
    right: 50%;
    top: 74px;
    transform: translateX(102%);
    width: 140px
}

.index--page .index--container .banner-block-wrapper .ball-desktop {
    display: none
}

.index--page .index--container .banner-block-wrapper .content {
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    height: 160px;
    justify-content: center;
    margin: 40px 10px 20px;
    overflow: hidden;
    position: relative;
    z-index: 3
}

.index--page .index--container .banner-block-wrapper .content__background {
    border-radius: 10px;
    display: block;
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%
}

.index--page .index--container .banner-block-wrapper .content__background--desktop {
    display: none
}

.index--page .index--container .banner-block-wrapper .content__action {
    width: -moz-min-content;
    width: min-content;
    z-index: 2
}

.index--page .index--container .banner-block-wrapper .content__title {
    color: #fff;
    font-family: PassionOne-Regular, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 23px;
    margin: 10px auto;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-transform: uppercase;
    width: 120px
}

.index--page .index--container .banner-block-wrapper .content__button {
    -webkit-text-fill-color: #1a1a1a;
    align-items: center;
    background: linear-gradient(180deg, #ffe600, #ffb800);
    border-radius: 50px;
    box-shadow: inset 0 -2px 0 #f90;
    box-shadow: inset 0 -2px 0 #f90, 0 4px 4px rgba(0, 0, 0, .25);
    color: #1a1a1a;
    cursor: pointer;
    display: flex;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 10px;
    font-weight: 400;
    height: 35px;
    justify-content: center;
    line-height: 12px;
    margin: 0 auto;
    text-align: center;
    text-shadow: 0 1px 0 #ffe249;
    text-transform: uppercase;
    transition: all .1s linear;
    width: 110px
}

@media (min-width:1000px) {
    .index--page .index--container .banner-block-wrapper .content__button {
        box-shadow: inset 0 -5px 0 #f90, 0 4px 4px rgba(0, 0, 0, .25)
    }
}

.index--page .index--container .banner-block-wrapper .content__button:hover {
    background: linear-gradient(180deg, #ffb800, #ffe600)
}

.index--page .index--container .banner-block-wrapper .content__item--left,
.index--page .index--container .banner-block-wrapper .content__item--right {
    bottom: 0;
    display: block;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    z-index: 1
}

.index--page .index--container .banner-block-wrapper .content__item--left {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: sliderToLeft;
    animation-timing-function: ease;
    height: 155px;
    right: calc(50% + 68px);
    width: 176.9px
}

@keyframes sliderToLeft {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(-10px)
    }

    to {
        transform: translateX(0)
    }
}

.index--page .index--container .banner-block-wrapper .content__item--right {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: sliderToRight;
    animation-timing-function: ease;
    height: 155px;
    left: calc(50% + 63px);
    width: 163.65px
}

@keyframes sliderToRight {
    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(10px)
    }

    to {
        transform: translateX(0)
    }
}

.index--page .index--container .banner-block-wrapper.jogo-block .content__title {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px
}

.index--page .index--container .banner-block-wrapper.jogo-block .content__item--left {
    right: calc(50% + 51px)
}

.index--page .index--container .banner-block-wrapper.jogo-block .content__item--right {
    left: calc(50% + 63px)
}

.index--page .providers .title {
    margin-top: 30px
}

@media (min-width:600px) {
    .index--page .index--container .banner-block-wrapper {
        position: relative
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible {
        margin: 50px 10px 60px;
        overflow: hidden;
        padding-top: 10px;
        position: relative
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible .content {
        margin: 0
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible .content__background--desktop {
        display: block
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible .content__background--mobile {
        display: none
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible .coin {
        display: block;
        left: 50%;
        position: absolute;
        top: 4px;
        transform: translateX(-400%);
        z-index: 4
    }

    .index--page .index--container .banner-block-wrapper.live-block .content {
        overflow: hidden !important
    }

    .index--page .index--container .banner-block-wrapper .ball-mobile {
        display: none
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop {
        display: block;
        position: absolute
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--left-1 {
        animation: ballLeftOneTabletMove 5s ease infinite;
        height: 261px;
        left: 50%;
        top: -29px;
        transform: translateX(-195%);
        width: 342px
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--left-2 {
        animation: ballLeftTwoTabletMove 5s ease infinite;
        height: 650px;
        left: 45%;
        top: -418px;
        transform: translateX(-37%);
        z-index: 1
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--left-3 {
        animation: ballLeftThreeTabletMove 5s ease infinite;
        height: 164px;
        left: 49%;
        top: 91px;
        transform: translateX(-272%)
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--right-1 {
        animation: ballRightOneTabletMove 5s ease infinite;
        height: 222px;
        right: 45%;
        top: 28px;
        transform: translateX(125%) rotate(-13deg);
        z-index: 10
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--right-2 {
        animation: ballRightTwoTabletMove 5s ease infinite;
        height: 351px;
        right: 50.5%;
        top: -47px;
        transform: translateX(198%) rotate(3deg);
        width: 366px
    }

    .index--page .index--container .banner-block-wrapper .ball-desktop--right-3 {
        animation: ballRightThreeTabletMove 5s ease infinite;
        height: 217px;
        right: 49%;
        top: 2px;
        transform: translateX(188%);
        width: 133px
    }

    .index--page .index--container .banner-block-wrapper .content {
        background-position: center -50px !important;
        height: 210px
    }

    .index--page .index--container .banner-block-wrapper .content__title {
        font-size: 40px;
        margin-bottom: 30px;
        width: auto
    }

    .index--page .index--container .banner-block-wrapper .content__button {
        -webkit-text-fill-color: #1a1a1a;
        align-items: center;
        background: linear-gradient(180deg, #ffe600, #ffb800);
        border-radius: 50px;
        box-shadow: inset 0 -2px 0 #f90;
        box-shadow: inset 0 -2px 0 #f90, 0 4px 4px rgba(0, 0, 0, .25);
        color: #1a1a1a;
        cursor: pointer;
        display: flex;
        font-family: roboto-medium-webfont, sans-serif;
        font-size: 18px;
        font-weight: 400;
        height: 60px;
        justify-content: center;
        line-height: 12px;
        margin: 0 auto;
        text-align: center;
        text-shadow: 0 1px 0 #ffe249;
        text-transform: uppercase;
        transition: all .1s linear;
        width: 230px
    }
}

@media (min-width:600px) and (min-width:1000px) {
    .index--page .index--container .banner-block-wrapper .content__button {
        box-shadow: inset 0 -5px 0 #f90, 0 4px 4px rgba(0, 0, 0, .25)
    }
}

@media (min-width:600px) {
    .index--page .index--container .banner-block-wrapper .content__button:hover {
        background: linear-gradient(180deg, #ffb800, #ffe600)
    }

    .index--page .index--container .promo-block__content {
        margin-top: -30px;
        padding-top: 30px;
        position: relative
    }

    .index--page .index--container .aviator-block .content__item--right {
        left: calc(50% + 84px)
    }

    .index--page .index--container .aviator-block .content__item--left {
        right: calc(50% + 100px)
    }
}

@media (min-width:1000px) {
    .index--page {
        padding-bottom: 60px
    }

    .index--page .index--container {
        margin: 0 auto;
        max-width: 100%
    }

    .index--page .index--container .games-block-wrapper .title {
        margin-top: 40px
    }

    .index--page .index--container .games-block-wrapper .title__slider {
        display: none
    }

    .index--page .index--container .games-block-wrapper .games-block {
        padding: 0 20px
    }

    .index--page .index--container .games-block-wrapper .nsoft-widget {
        margin: 0 20px
    }

    .index--page .index--container .promo-block__content {
        margin-top: -30px;
        padding-top: 30px;
        position: relative
    }

    .index--page .index--container .banner-block-wrapper {
        margin: 0 20px
    }

    .index--page .index--container .banner-block-wrapper .content-overflow-visible {
        margin-inline: auto
    }

    .index--page .index--container .banner-block-wrapper .content {
        height: 210px;
        margin: 60px 0;
        overflow: visible
    }

    .index--page .index--container .banner-block-wrapper .content__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        margin-top: 0;
        width: 400px
    }

    .index--page .index--container .banner-block-wrapper .content__button {
        font-size: 18px;
        height: 60px;
        width: 230px
    }

    .index--page .index--container .banner-block-wrapper .content__item--left,
    .index--page .index--container .banner-block-wrapper .content__item--right {
        height: 230px;
        width: 250px;
        z-index: 1
    }

    .index--page .index--container .banner-block-wrapper .content__item--left {
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: sliderToLeft;
        animation-timing-function: ease;
        right: calc(50% + 135px);
        width: 262.5px
    }

    @keyframes sliderToLeft {
        0% {
            transform: translateX(0)
        }

        50% {
            transform: translateX(-20px)
        }

        to {
            transform: translateX(0)
        }
    }

    .index--page .index--container .banner-block-wrapper .content__item--right {
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-name: sliderToRight;
        animation-timing-function: ease;
        left: calc(50% + 125px)
    }

    @keyframes sliderToRight {
        0% {
            transform: translateX(0)
        }

        50% {
            transform: translateX(20px)
        }

        to {
            transform: translateX(0)
        }
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--left,
    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--right {
        height: 220px
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--left {
        right: calc(50% + 109px)
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--right {
        left: calc(50% + 112px)
    }

    .index--page .providers .title {
        margin-top: 40px
    }
}

@media (min-width:1300px) {
    .index--page .index--container {
        margin: 0 auto;
        max-width: 1280px
    }

    .index--page .index--container .games-block-wrapper .title__slider {
        display: flex
    }

    .index--page .index--container .games-block-wrapper .games-block {
        padding: 0
    }

    .index--page .index--container .banner-block-wrapper,
    .index--page .index--container .games-block-wrapper .nsoft-widget {
        margin: 0
    }

    .index--page .index--container .banner-block-wrapper .content {
        margin-left: 0;
        margin-right: 0
    }

    .index--page .index--container .banner-block-wrapper .content__item--left {
        right: 780px
    }

    .index--page .index--container .banner-block-wrapper .content__item--right {
        left: 771px
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--left {
        right: 740px
    }

    .index--page .index--container .banner-block-wrapper.jogo-block .content__item--right {
        left: 750px
    }
}

.index--page .index--container .aviator-block .content__item--right {
    height: auto
}

.button-support {
    display: inline-flex;
    height: 35px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    min-width: 35px;
    border: none;
    cursor: pointer;
    color: #f2008d;
    border-radius: 5px;
    padding: 0px;
    margin-right: 30px;
}

.button-support>img {
    width: 32px;
}

@media (max-width: 576px) {
    .button-support {
        margin-right: 10px;
        height: 30px;
        min-width: 30px;
    }

    .button-support>img {
        width: 27px;
    }
}

.apigames-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    margin: 0 auto;
    background: rgb(46 39 0 / 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9991;
    font-family: "principal", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
}

.apigames-popup-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.apigames-popup .apigames-popup-content {
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #020711;
    max-height: calc(100vh - 32px);
    height: auto;
    max-width: 550px;
    min-width: 550px;
    min-height: 180px;
    border-radius: 20px;
    overflow: auto;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 50%);
}

@media (max-width: 560px) {
    .apigames-popup .apigames-popup-content {
        max-width: calc(100% - 20px);
        max-height: calc(100% - 20px);
        min-width: calc(100% - 20px);
        width: 100%;
        max-height: -webkit-fill-available;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.apigames-popup .apigames-popup-content-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
}

.apigames-popup .apigames-popup-content-header .close {
    width: 30px;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 15px;
    top: 15px;
    color: #ffffff;
    cursor: pointer;
}

.apigames-popup .apigames-popup-content-header .close>svg {
    fill: currentcolor;
    color: white;
}

.apigames-pl20 {
    padding-left: 20px;
}

.apigames-pr20 {
    padding-right: 20px;
}

.apigames-pb20 {
    padding-bottom: 20px;
}

.gradient-title {
    font-size: 13px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    flex-direction: row;
    min-width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: 700;
    display: flex;
}

.gradient-title-lateral {
    align-items: center;
    width: 100%;
    display: flex;
    margin: 7px;
}

.gradient-title-left>div {
    background: linear-gradient(270deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-right>div {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(0, 0, 0, 0) 80%);
}

.gradient-title-lateral>div {
    width: 100%;
    height: 5px;
}

.gradient-title-no-wrap {
    text-wrap: nowrap;
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500ff 0%, rgb(253, 202, 0) 100%);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none;
}

.full-width {
    width: 100%;
}

.margin-top-3em {
    margin-top: 3rem;
}

.text-center {
    text-align: center;
}

.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 80vw;
    width: 80vw;
    font-size: 12px;
    font-family: "principal", Arial, sans-serif;
}

.alert-success {
    color: #1d4e10;
    background-color: #c3ffd8;
    border-color: #46be39;
}

#success-alert,
#error-alert {
    display: none;
    z-index: 9999;
    right: 0;
    margin: 60px 0 0;
    border-radius: .4rem !important;
    position: fixed;
    top: 30px;
    left: 10vw;
}

@media (max-width: 768px) {

    #success-alert,
    #error-alert {
        margin: 0;
    }
}

.game-iframe-view_gameIframeWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 1500px;
    margin: 0 auto
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper {
        background-color: #000217;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100000
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_default {
    aspect-ratio: 1125/635;
    max-width: 1125px
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_default {
        aspect-ratio: inherit;
        max-width: inherit
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
    max-width: 1500px;
    aspect-ratio: 1500/847
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_tvbet {
        max-width: inherit;
        aspect-ratio: inherit;
        height: 100% !important;
        min-height: 100% !important
    }
}

.game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
    height: calc(100vh - 117px) !important;
    min-height: 100%;
    max-width: 100%;
    height: 100%
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook {
        top: 64px;
        z-index: 999;
        height: 100% !important
    }

    .game-iframe-view_gameIframeWrapper.game-iframe-view_sportbook>.game-iframe-view_gameIframe {
        height: calc(100% - 64px)
    }
}

.game-iframe-view_gameIframe {
    width: 100%;
    height: 100%;
    z-index: 0
}

@media(max-width: 992px) {
    .game-iframe-view_gameIframe {
        min-height: auto !important
    }

    .game-iframe-view_gameIframe.game-iframe-view_sportbook {
        height: calc(100% - 50px)
    }
}

.game_interface a {
    cursor: pointer;
}

.modal-content-support-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px
}

.modal-content-support-network>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px
}

.btn-copy {
    padding-block: 1px;
    padding-inline: 6px;
    display: inline-flex;
    height: 30px;
    background: linear-gradient(0deg, #989898, #fff);
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    color: #000;
    border-radius: 5px
}

.modal-content-support-network img {
    width: 20px;
    margin-right: 10px
}

.btn-support-close {
    text-transform: uppercase;
    cursor: pointer;
    min-width: 100px;
    height: 30px;
    background: linear-gradient(0deg, #fde500, #fdca00);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    display: inline-flex;
    border-radius: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    text-decoration: none
}