.locale-block {
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative
}

.locale-block__chosen-language {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    padding: 10px 13px;
    position: relative;
    width: 100%;
    z-index: 2
}

.locale-block__chosen-language .chosen-locale-name {
    -webkit-text-fill-color: #ececec;
    color: #ececec;
    display: block;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase
}

.locale-block__chosen-language img {
    border-radius: 50%;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 20px
}

.locale-block__chosen-language--active,
.locale-block__chosen-language:hover {
    background: #3b3b3b
}

.locale-block__chosen-language:after {
    background-image: url(/build/images/arrow-down_white.f33bdc15.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    z-index: 1
}

.locale-block__chosen-language--active:before {
    background: #232323;
    bottom: -2px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

.locale-block__chosen-language--active:after {
    transform: rotate(180deg) translateY(50%)
}

.locale-block__locales-list {
    background: #3b3b3b;
    display: none;
    margin: 0;
    padding: 0 13px
}

.locale-block__locales-list li {
    padding: 15px 0
}

.locale-block__locales-list li a span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.locale-block__locales-list li a span .locale-name {
    -webkit-text-fill-color: #ececec;
    color: #ececec;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 0;
    text-decoration: none;
    text-transform: uppercase
}

.locale-block__locales-list li a span img {
    border-radius: 50%;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 20px
}

.locale-block__locales-list li:hover a span .locale-name {
    -webkit-text-fill-color: #ffba00;
    color: #ffba00
}

.locale-block__locales-list--show {
    display: block
}

@media (min-width:700px) {
    .locale-block {
        margin-bottom: 25px
    }

    .locale-block__chosen-language:after {
        height: 8px;
        width: 15px
    }

    .locale-block__locales-list--show {
        padding: 10px 20px
    }

    .locale-block__locales-list--show li a span .locale-name {
        font-family: roboto-regular-webfont, sans-serif;
        font-size: 18px;
        margin-left: 0
    }

    .locale-block__locales-list--show li a span img {
        height: 30px;
        margin-right: 25px;
        width: 30px
    }

    .locale-block__chosen-language {
        height: 60px;
        padding: 17px 20px
    }

    .locale-block__chosen-language .chosen-locale-name {
        font-family: roboto-regular-webfont, sans-serif;
        font-size: 18px
    }

    .locale-block__chosen-language img {
        height: 30px;
        margin-right: 25px;
        width: 30px
    }
}

@media (min-width:1300px) {
    .locale-block__chosen-language {
        padding: 17px 30px
    }

    .locale-block__chosen-language img {
        margin-right: 25px
    }

    .locale-block__locales-list--show {
        padding: 10px 30px
    }
}

.globalClass_662e {
    position: absolute!important;
    right: 350px!important
}

.chat-button {
    background: linear-gradient(0deg,#ffe600,#ffb800);
    background-size: contain;
    border-radius: 50%;
    bottom: 50px;
    box-shadow: inset 0 -5px 0 #f90,0 3px 6px 0 rgba(0,0,0,.75);
    cursor: pointer;
    display: initial!important;
    height: 52px;
    min-height: 52px;
    min-width: 50px;
    position: fixed;
    right: 15px;
    transition: background 1s ease-out;
    width: 50px;
    z-index: 110
}

.chat-button .loader-ring,.chat-button.spin:before {
    display: none
}

.chat-button.hidden {
    display: none!important
}

.chat-button:before {
    background-image: url("../assets/svg/support_chat_icon2.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 27px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-55%);
    width: 27px
}

.chat-button:hover {
    background: linear-gradient(180deg,#ffe600,#ffb800);
    transition: background 1s ease-out
}

.chat-button.spin {
    background: linear-gradient(95deg,#faca17 20%,#ff9c48 80%),#ff9c48
}

.chat-button.spin .loader-ring {
    display: block;
    height: 30px;
    left: 50%;
    margin: -15px;
    position: relative;
    top: 50%;
    width: 30px
}

.chat-button.spin .loader-ring__light {
    animation: rotate-360 2s linear infinite;
    border-radius: 30px;
    box-shadow: inset 0 4px 0 #fff;
    height: 30px;
    width: 30px
}

.chat-button.spin .loader-ring__track {
    border-radius: 30px;
    box-shadow: inset 0 0 10px 4px hsla(0,0%,100%,.3);
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@media (min-width: 600px) {
    .chat-button {
        bottom:54px;
        cursor: pointer;
        height: 60px;
        min-height: 60px;
        min-width: 58px;
        right: 35px;
        width: 58px
    }
}

#jvlabelWrap,.__jivoCallbackBtn,.__jivoMobileButton,.wrap_240._show_bc1,.wrap_65c,.wrap_c06 {
    display: none!important
}

.chat-frame {
    background: #fff;
    bottom: 0;
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 100
}

.chat-frame--show {
    display: block
}

@media (min-width: 600px) {
    .chat-frame {
        background:#fff;
        border-radius: 10px;
        bottom: 20px;
        box-shadow: 0 20px 40px 8px rgba(0,0,0,.25);
        height: 500px;
        right: 20px;
        width: 450px
    }

    .chat-frame:before {
        display: none
    }
}

.chat-frame iframe {
    height: 100%;
    width: 100%
}

.chat-frame-close {
    background-color: unset;
    background-image: url(/build/images/chat-close-mobile.a18b702c.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    border: none;
    cursor: pointer;
    filter: brightness(100) drop-shadow(1px 1px 1px black);
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px
}

@media (min-width: 600px) {
    .chat-frame-close {
        background-image:url(/build/images/chat-close.54efffbd.svg);
        background-size: contain;
        filter: unset;
        height: 28px;
        left: -35px;
        top: 0;
        width: 28px
    }
}