.locale-block {
    border-bottom: 1px solid #3b3b3b;
    border-top: 1px solid #3b3b3b;
    cursor: pointer;
    margin-bottom: 15px;
    position: relative
}

.locale-block__chosen-language {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: flex-start;
    padding: 10px 13px;
    position: relative;
    width: 100%;
    z-index: 2
}

.locale-block__chosen-language .chosen-locale-name {
    -webkit-text-fill-color: #ececec;
    color: #ececec;
    display: block;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-transform: uppercase
}

.locale-block__chosen-language img {
    border-radius: 50%;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 20px
}

.locale-block__chosen-language--active,
.locale-block__chosen-language:hover {
    background: #3b3b3b
}

.locale-block__chosen-language:after {
    background-image: url(/build/images/arrow-down_white.f33bdc15.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    z-index: 1
}

.locale-block__chosen-language--active:before {
    background: #232323;
    bottom: -2px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0
}

.locale-block__chosen-language--active:after {
    transform: rotate(180deg) translateY(50%)
}

.locale-block__locales-list {
    background: #3b3b3b;
    display: none;
    margin: 0;
    padding: 0 13px
}

.locale-block__locales-list li {
    padding: 15px 0
}

.locale-block__locales-list li a span {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%
}

.locale-block__locales-list li a span .locale-name {
    -webkit-text-fill-color: #ececec;
    color: #ececec;
    font-family: roboto-medium-webfont, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 0;
    text-decoration: none;
    text-transform: uppercase
}

.locale-block__locales-list li a span img {
    border-radius: 50%;
    display: block;
    height: 20px;
    margin-right: 15px;
    width: 20px
}

.locale-block__locales-list li:hover a span .locale-name {
    -webkit-text-fill-color: #ffba00;
    color: #ffba00
}

.locale-block__locales-list--show {
    display: block
}

@media (min-width:700px) {
    .locale-block {
        margin-bottom: 25px
    }

    .locale-block__chosen-language:after {
        height: 8px;
        width: 15px
    }

    .locale-block__locales-list--show {
        padding: 10px 20px
    }

    .locale-block__locales-list--show li a span .locale-name {
        font-family: roboto-regular-webfont, sans-serif;
        font-size: 18px;
        margin-left: 0
    }

    .locale-block__locales-list--show li a span img {
        height: 30px;
        margin-right: 25px;
        width: 30px
    }

    .locale-block__chosen-language {
        height: 60px;
        padding: 17px 20px
    }

    .locale-block__chosen-language .chosen-locale-name {
        font-family: roboto-regular-webfont, sans-serif;
        font-size: 18px
    }

    .locale-block__chosen-language img {
        height: 30px;
        margin-right: 25px;
        width: 30px
    }
}

@media (min-width:1300px) {
    .locale-block__chosen-language {
        padding: 17px 30px
    }

    .locale-block__chosen-language img {
        margin-right: 25px
    }

    .locale-block__locales-list--show {
        padding: 10px 30px
    }
}