#vue-producer-block {
    flex: 1;
    height: 40px
}

#vue-producer-block[v-cloak] {
    border: 2px solid #035d03;
    border-radius: 50px
}

.producer-block {
    cursor: pointer;
    height: 100%;
    position: relative;
    width: 100%
}

.producer-block.active .producer-block__selected a:after {
    transform: scale(.8) rotate(180deg)
}

.producer-block--hide {
    display: none;
    width: auto
}

.producer-block__selected {
    align-items: center;
    background-color: #fff;
    border: 2px solid #035d03;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    line-height: 38px;
    outline: none;
    position: relative;
    width: 100%;
    z-index: 15
}

.producer-block__dropdown-btn {
    -webkit-text-fill-color: #035d03;
    background: none;
    border: none;
    color: #035d03;
    cursor: pointer;
    font-family: roboto-medium-webfont,sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.producer-block__dropdown-btn:after {
    background-image: url("../assets/svg/arrow-down_green.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    content: "";
    height: 20px;
    position: absolute;
    right: -24px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px
}

.producer-block.active .producer-block__dropdown-btn:after {
    background-position: -1.5px;
    transform: rotate(180deg) translateY(50%)
}

.producer-block__wrapper {
    background: #232323;
    border-radius: 0 0 10px 10px;
    display: none;
    margin: 0;
    max-height: 265px;
    padding: 25px 10px 15px;
    position: absolute;
    top: 24px;
    width: 100%;
    z-index: 12
}

.producer-block__wrapper.show {
    display: block
}

.producer-block__wrapper .producer-block__list {
    background: #232323;
    height: 100%;
    list-style-type: none;
    margin: 10px 0 0;
    max-height: 175px;
    overflow-y: scroll;
    padding: 0;
    width: calc(100% - 5px);
    z-index: 11
}

.producer-block__wrapper .producer-block__list::-webkit-scrollbar {
    width: 1px
}

.producer-block__wrapper .producer-block__list::-webkit-scrollbar-thumb {
    background-color: #ffba00;
    border-radius: 10px
}

.producer-block__wrapper .producer-block__list::-webkit-scrollbar-track {
    background-color: #dcdcdc;
    border-radius: 10px
}

@-moz-document url-prefix() {
    .producer-block__wrapper .producer-block__list {
        scrollbar-color: #ffba00 hsla(0,0%,86%,.3);
        scrollbar-gutter: auto;
        scrollbar-width: thin
    }
}

.producer-block__wrapper .producer-block__list li {
    position: relative
}

.producer-block__wrapper .producer-block__list li.no-logo {
    padding-left: 30px
}

.producer-block__wrapper .producer-block__list li .label-new {
    background: #ffba00;
    border-radius: 50px;
    color: #232323;
    display: flex;
    font-family: sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    height: 11px;
    line-height: normal;
    min-width: 28px;
    padding: 0 3px;
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%)
}

@media (min-width: 1000px) {
    .producer-block__wrapper .producer-block__list li .label-new {
        font-size:12px;
        height: 14px;
        min-width: 36px;
        padding: 0 5px;
        right: 20px
    }
}

.producer-block__wrapper .producer-block__list li a {
    -webkit-text-fill-color: #fff;
    align-items: center;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: roboto-regular-webfont,Sans-serif;
    font-size: 12px;
    justify-content: flex-start;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize
}

.producer-block__wrapper .producer-block__list li a img {
    display: block;
    height: 15px;
    margin-right: 15px;
    width: 15px
}

.producer-block__wrapper .producer-block__list li a.selected,.producer-block__wrapper .producer-block__list li a:hover {
    -webkit-text-fill-color: #ffba00;
    color: #ffba00
}

.producer-block__search {
    font-family: roboto-regular-webfont,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-top: 6px;
    position: relative;
    width: 100%
}

.producer-block__search-input {
    background: #232323;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    height: 30px;
    padding-left: 15px;
    padding-right: 55px;
    width: 100%
}

.producer-block__search-close {
    cursor: pointer;
    display: none;
    height: 12px;
    left: auto;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    z-index: 5
}

.producer-block__search-close.show {
    display: block
}

.producer-block__search-close:after,.producer-block__search-close:before {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    content: "";
    height: 100%;
    position: absolute
}

.producer-block__search-close:after {
    transform: translateX(5px) rotate(45deg)
}

.producer-block__search-close:before {
    transform: translateX(5px) rotate(-45deg)
}

.producer-block__search-close:hover:after,.producer-block__search-close:hover:before {
    background: #ffba00;
    border: 1px solid #ffba00
}

.producer-block__search-button {
    background: #fff;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px
}

.producer-block__search-button:hover {
    background: #ffba00
}

.producer-block__search-button:after {
    background-image: url("../assets/svg/search.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 12px
}

@media (min-width: 1000px) {
    #vue-producer-block {
        flex:23.2%!important;
        height: 50px
    }

    .producer-block {
        height: 100%
    }

    .producer-block__dropdown-btn {
        font-size: 14px;
        line-height: 1;
        gap: 10px;
    }

    .producer-block__dropdown-btn:after {
        transform: scale(1) translateY(-50%)
    }

    .producer-block.active .producer-block__dropdown-btn:after {
        transform: rotate(180deg) translateY(50%)
    }

    .producer-block__wrapper {
        max-height: 420px;
        padding: 40px 20px 20px
    }

    .producer-block__wrapper .producer-block__list {
        margin-top: 15px;
        max-height: 293px;
        width: 100%
    }

    .producer-block__wrapper .producer-block__list li.no-logo {
        padding-left: 33px
    }

    .producer-block__wrapper .producer-block__list li a {
        font-size: 14px;
        line-height: 30px
    }

    .producer-block__wrapper .producer-block__list li a img {
        height: 18px;
        width: 18px
    }

    .producer-block__wrapper .producer-block__list li a:hover {
        -webkit-text-fill-color: #ffba00;
        color: #ffba00
    }

    .producer-block__search {
        font-size: 14px
    }

    .producer-block__search-input {
        height: 40px;
        padding-right: 70px
    }

    .producer-block__search-close {
        height: 15px;
        right: 50px;
        width: 15px
    }

    .producer-block__search-button {
        height: 40px;
        width: 40px
    }

    .producer-block__search-button:after {
        height: 16px;
        width: 16px
    }
}

@media (min-width: 1300px) {
    #vue-producer-block {
        flex:26.2%!important
    }
}
