@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff")
}

:root {
    --swiper-theme-color: #007aff
}

.swiper-container {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1
}

.swiper-container-vertical>.swiper-wrapper {
    flex-direction: column
}

.swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1
}

.swiper-container-android .swiper-slide,.swiper-wrapper {
    transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
    flex-wrap: wrap
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: column;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    margin: 0 auto;
    transition-timing-function: ease-out
}

.swiper-container-pointer-events {
    touch-action: pan-y
}

.swiper-container-pointer-events.swiper-container-vertical {
    touch-action: pan-x
}

.swiper-slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform,height
}

.swiper-container-3d {
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg,rgba(0,0,0,.5),transparent)
}

.swiper-container-css-mode>.swiper-wrapper {
    -ms-overflow-style: none;
    overflow: auto;
    scrollbar-width: none
}

.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar {
    display: none
}

.swiper-container-css-mode>.swiper-wrapper>.swiper-slide {
    scroll-snap-align: start start
}

.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: x mandatory
}

.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper {
    scroll-snap-type: y mandatory
}

#vue-slider-block {
    overflow: hidden;
    height: 180px
}

#vue-slider-block[v-cloak] {
    background: linear-gradient(0deg,#06ac06,#035d03);
    border-radius: 10px;
    height: 170px;
    margin: 10px 20px 0
}

#vue-slider-block .swiper-container {
    display: grid!important;
    height: 100%!important;
    overflow: visible!important;
    padding: 10px 20px 0;
    position: relative
}

#vue-slider-block .swiper-container .swiper-wrapper {
    height: 100%
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide {
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 170px;
    overflow: hidden;
    position: relative
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide picture img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0;
    object-position: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .swiper-preloader {
    animation: none;
    background: linear-gradient(0deg,#06ac06,#035d03);
    border: none;
    border-radius: 10px;
    height: 100%;
    left: 0;
    margin: 0 54px 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1!important;
    z-index: 0
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p {
    -webkit-text-fill-color: #fff;
    color: #fff;
    font-family: PassionOne-Regular;
    font-size: 22px;
    left: 20px;
    line-height: 22px;
    margin: 0;
    max-width: 160px;
    pointer-events: none;
    position: relative;
    top: 20px;
    word-break: break-word
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-countdown-timestamp],#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp] {
    -webkit-text-fill-color: #fff;
    color: #fff;
    display: flex;
    font-family: roboto-medium-webfont,sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    margin-bottom: 7px;
    position: relative;
    text-shadow: 0 2px 2px rgba(0,0,0,.15);
    width: -moz-fit-content;
    width: fit-content
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-countdown-timestamp]:after,#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp]:after {
    background: linear-gradient(90.01deg,#ffe600 2.02%,#ffb800 99.99%);
    border-radius: 2px;
    bottom: -4px;
    content: "";
    height: 2px;
    position: absolute;
    width: 100%
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-countdown-timestamp] span,#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp] span {
    -webkit-text-fill-color: #fff;
    color: #fff;
    display: inline-block;
    margin-left: 8px
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp] {
    width: -moz-fit-content;
    width: fit-content
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider {
    -webkit-text-fill-color: #1a1a1a;
    align-items: center;
    background: linear-gradient(180deg,#ffe600,#ffb800);
    border-radius: 50px;
    bottom: 15px;
    box-shadow: inset 0 -2px 0 #f90;
    color: #1a1a1a;
    cursor: pointer;
    display: flex;
    font-family: roboto-medium-webfont,sans-serif;
    font-weight: 400;
    height: 35px;
    justify-content: center;
    left: 20px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 0 #ffe249;
    text-transform: uppercase;
    transition: all .1s linear;
    width: 110px
}

@media (min-width: 1000px) {
    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider {
        box-shadow:inset 0 -5px 0 #f90
    }
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider:hover {
    background: linear-gradient(180deg,#ffb800,#ffe600)
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider .button__text {
    font-size: 10px;
    line-height: 35px
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider .button__arrow {
    background-image: url("../assets/svg/arrow-right.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 10px;
    margin-bottom: 1px;
    margin-left: 5px;
    padding-left: 10px;
    width: 10px
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider {
    align-items: center;
    bottom: 0;
    display: flex;
    height: 28px;
    left: 152px;
    overflow-y: hidden;
    position: absolute;
    width: 150px
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__wrapper {
    display: flex;
    height: 20.32px;
    margin: 0 auto
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__left {
    height: 100%
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__right {
    height: 100%;
    position: relative
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider img {
    height: 100%;
    width: auto
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__logo {
    height: 100%;
    margin-right: 3px;
    width: -moz-max-content;
    width: max-content
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__old {
    height: 100%;
    position: relative;
    width: -moz-max-content;
    width: max-content
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__old img {
    display: block;
    height: 21.32px
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__old:before {
    background-image: url(/build/images/egt-old.cbe97ca1.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    filter: blur(2px);
    height: 100%;
    left: 0;
    position: absolute;
    top: -80px;
    width: 100%
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__new {
    align-self: center;
    height: 15px;
    position: absolute;
    top: -80px;
    transform: translateX(-32%) translateY(-50%);
    width: -moz-max-content;
    width: max-content
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__logo {
    animation: animateLogo .4s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.5,1.1,.27,.96)
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__old img {
    animation: animateOldNameStart .15s linear .5s;
    animation-fill-mode: forwards
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__old:before {
    animation-delay: .6s,.8s,1.1s;
    animation-duration: .25s,.35s,.45s;
    animation-name: animateOldNameMultiple,animateOldNameMultiple,animateOldNameMultiple;
    animation-timing-function: linear
}

#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__new {
    animation: animateNewName .5s ease-in-out 1.5s;
    animation-fill-mode: forwards
}

@keyframes animateOldNameStart {
    to {
        filter: blur(2px);
        transform: translateY(150%)
    }
}

@keyframes animateOldNameMultiple {
    to {
        filter: blur(2px);
        top: 150%
    }
}

@keyframes animateNewName {
    0% {
        filter: blur(2px);
        top: -100%
    }

    80% {
        filter: blur(1px);
        top: 80%
    }

    to {
        filter: blur(0);
        top: 50%
    }
}

@keyframes animateLogo {
    0% {
        transform: translateX(0)
    }

    80% {
        filter: blur(2px);
        transform: translateX(-65%)
    }

    to {
        filter: blur(0);
        transform: translateX(-55%)
    }
}

#vue-slider-block .swiper-container .swiper-navigation {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: space-between;
    left: 0;
    padding: 0 7px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-30%);
    width: 100%;
    z-index: 1
}

#vue-slider-block .swiper-container .swiper-navigation .swiper-button-next,#vue-slider-block .swiper-container .swiper-navigation .swiper-button-prev {
    background-image: url("../assets/svg/slider-arrow-left.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    height: 20px;
    width: 8px
}

#vue-slider-block .swiper-container .swiper-navigation .swiper-button-next:hover,#vue-slider-block .swiper-container .swiper-navigation .swiper-button-prev:hover {
    filter: invert(45%) sepia(89%) saturate(4083%) hue-rotate(98deg) brightness(105%) contrast(95%)
}

#vue-slider-block .swiper-container .swiper-navigation .swiper-button-next {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg)
}

@media (min-width: 600px) {
    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p {
        max-width:450px
    }
}

@media (min-width: 700px) {
    #vue-slider-block {
        height:450px
    }

    #vue-slider-block[v-cloak] {
        height: 420px;
        margin: 30px 30px 0
    }

    #vue-slider-block .swiper-container {
        padding: 30px 30px 0
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide {
        background-position: 5%;
        height: 420px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide picture img {
        -o-object-position: 5%;
        object-position: 5%
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p {
        font-size: 50px;
        left: 44px;
        line-height: 55px;
        top: 60px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p:first-letter {
        text-transform: capitalize
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-countdown-timestamp],#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp] {
        font-size: 25px;
        height: 29px;
        line-height: 29px;
        margin-bottom: 26px;
        text-shadow: 0 2px 2px rgba(0,0,0,.15);
        width: -moz-fit-content;
        width: fit-content
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-countdown-timestamp]:after,#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp]:after {
        border-radius: 4px;
        bottom: -10px;
        height: 4px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p span[data-date-timestamp] {
        width: -moz-fit-content;
        width: fit-content
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider {
        bottom: 30px;
        box-shadow: inset 0 -5px 0 #f90;
        height: 70px;
        left: 44px;
        width: 230px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider .button__text {
        font-size: 18px;
        line-height: 70px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider .button__arrow {
        height: 19px;
        width: 15px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider {
        height: 72px;
        left: 380px;
        width: 300px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__old img,#vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__wrapper {
        height: 55px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__new {
        height: 40px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__logo {
        animation: animateLogo .4s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.5,1.1,.27,.96)
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__old img {
        animation: animateOldNameStart .08s linear .5s;
        animation-fill-mode: forwards
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__old:before {
        animation-delay: .6s,.8s,1.1s;
        animation-duration: .15s,.25s,.35s;
        animation-name: animateOldNameMultiple,animateOldNameMultiple,animateOldNameMultiple;
        animation-timing-function: linear
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide-active .provider__new {
        animation: animateNewName .5s ease-in-out 1.5s;
        animation-fill-mode: forwards
    }

    #vue-slider-block .swiper-container .swiper-navigation .swiper-button-next,#vue-slider-block .swiper-container .swiper-navigation .swiper-button-prev {
        height: 35px;
        width: 15px
    }
}

@media (min-width: 768px) {
    #vue-slider-block {
        height:450px
    }

    #vue-slider-block[v-cloak] {
        margin: 30px 50px 0
    }

    #vue-slider-block .swiper-container {
        padding: 30px 50px 0
    }

    #vue-slider-block .swiper-container .swiper-navigation {
        padding: 0 20px
    }
}

@media (min-width: 1024px) {
    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide {
        background-position:50%;
        background-size: auto;
        border-radius: 10px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide--egt-promo {
        background-position: 0
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider {
        left: 465px
    }
}

@media (min-width: 1300px) {
    #vue-slider-block {
        height:490px
    }

    #vue-slider-block[v-cloak] {
        height: 420px;
        margin: 50px auto 40px;
        max-width: 1280px
    }

    #vue-slider-block .swiper-container {
        /* max-width: 1320px; */
        overflow: visible;
        padding: 30px 0 0
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide {
        height: 460px;
        opacity: .6
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text p {
        left: 100px;
        max-width: 500px;
        top: 81px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .slider__text .button--slider {
        bottom: 80px;
        left: 100px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-active {
        opacity: 1
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide.swiper-slide-visible {
        display: block;
        opacity: 1
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .swiper-preloader {
        height: calc(100% - 40px);
        left: 19px;
        top: 20px;
        width: calc(100% - 40px)
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider {
        bottom: 22px;
        left: 644px
    }

    #vue-slider-block .swiper-container .swiper-wrapper .swiper-slide .provider__new {
        transform: translateX(-29%) translateY(-50%)
    }

    #vue-slider-block .swiper-container .swiper-navigation {
        padding: 0 11%
    }

    #vue-slider-block .swiper-container .swiper-navigation .swiper-button-next {
        left: 25px;
        position: relative
    }

    #vue-slider-block .swiper-container .swiper-navigation .swiper-button-prev {
        left: -25px;
        position: relative
    }
}

#vue-slider-block {
    overflow: hidden
}

@media (min-width: 600px) {
    #vue-slider-block {
        grid-area:slider
    }
}
